<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FortniteTutorials</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
        <div>
            <div>
                
                <div>
					<header>
						

							<ul id="navigation">
								<li><a href="tjena.html">@Html.ActionLink("Home", "Index", "Home")</a></li>
								<li><a href="tjena.html">@Html.ActionLink("Guides", "Index", "Guides")</a></li>
								<li><a href="tjena.html"><img class="logo" src="@Url.Content("~/content/img/loga.png")" alt="missingimg" /></a></li>
								<li><a href="tjena.html">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
								<li><a href="tjena.html">@Html.ActionLink("Log in", "Login", "Account")</a></li>
							</ul>
						
					</header>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
	<footer>
		<div class="footer">
			<div class="ett">
				<h2> CONTACT US </h2>
				<p>fortnitetutorials@gmail.com</p><br>
				<p>(073) - 507 73 39</p><br>
				<p>Facebook/Instagram messages</p>
			</div>
			<div class="två">
				<h2> FOLLOW US </h2>
				<ul class="social_icons">
					<li>
						<img class="social" src="@Url.Content("~/Content/img/facebook.png")" alt="facebook">
					</li>
					<li>
						<img class="social" src="@Url.Content("~/Content/img/insta.png")" alt="instagram">	
					</li>
					<li>
						<img class="social" src="@Url.Content("~/Content/img/twitter.png")" alt="twitter">
					</li>
				</ul>
			</div>
			<div class="tre">
				<h2>TABS</h2>
				<ul class="tabs"></ul>
			</div>
		</div>
	</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
