@model Fortnitetutorials.Models.Guide

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>Guide</h4>  

    <hr />
    <article class="articledesc">
        <p> @Html.DisplayFor(model => model.Description)</p>
        <p> @Html.DisplayFor(model => model.Description)</p>
     </article>  

</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
</p>
