@model Fortnitetutorials.Models.Guide

@{
    ViewBag.Title = "Details";
}

<div class="topstuffdesc">

    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <h4>@Html.DisplayFor(Model => Model.Category.Name)</h4>
</div>
    <hr />

    <article class="articledesc">
        <img src="@Url.Content("~/Content/Img" + Model.ImageFile)" alt="finbild"
             class="imgdesc" />

        <p> @Html.DisplayFor(model => model.Description)</p>
    </article>


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>
}