@model Fortnitetutorials.Models.Guide

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <h4>@Html.DisplayFor(Model => Model.Category.Name)</h4>

    <hr />
    <article class="articledesc">
        <p> @Html.DisplayFor(model => model.Description)</p>
    </article>

</div>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index") |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </p>
}